.body
{
    margin: 0px;
    background: url(../images/background.png) no-repeat center 50px;
}

.header
{
    display: flex;
    justify-content: center;
}

.navbar
{
    width: 950px;
    height: 50px;
    font-size: 0;
}

.navbar__item
{
    display: inline-flex;
    align-items: center;
}

.navbar__link
{
    font: 19px/1.68 Georgia;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-right: 21px;
    height: 50px;
}

.navbar__link:hover
{
    filter: brightness(0) invert(0.9);
}

.navbar__item:hover
{
    background-color: #15a98c;
}

.about-me-icon::before
{
    content: "";
    background: url(../images/about_me_icon.png) no-repeat;
    padding: 8px;
    margin: 0 10px 0 20px;
}

.hobby-icon::before
{
    content: "";
    background: url(../images/hobby_icon.png) no-repeat;
    padding: 8px;
    margin: 0 10px 0 20px;
}

.video-icon::before
{
    content: "";
    background: url(../images/video_icon.png) no-repeat;
    padding: 8px;
    margin: 0 10px 0 20px;
}
.content
{
    width: 1000px;
    margin: 211px auto 20px auto;
    
}

.box-right {
    width: 600px;
    display: inline-block;
    position: relative;
    float: right;
}

.quote__compartmen
{
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.quote__text_compartmen
{
    color: #fff;
    font: italic 28px/1.5 georgia;
}

.quote__author
{
    margin: -3px auto 0 4px;
    padding-left: 5px;
}

.quote__text_author
{
    color: #f5f5f5;
    font: 600 16px/2.6 'Open Sans', sans-serif;
}

.biography
{
    margin-top: 42px;
    height: 610px;
    margin-left: 4px;
}

.biography__name
{
    margin-left: 4px;
    margin-top: 86px;
    margin-bottom: 26px;
}

.rectangle
{
    padding-left: 5px;
}
.name
{
    color: #333333;
    font: 700 48px/0.8 'Open Sans', sans-serif;
}

.biography__text
{
    margin-top: 40px;
    padding-left: 2px;
}

.biography__text-2
{
    margin-top: 3px;
}

.text
{
    color: #555;
    font: 19px/1.7 georgia;
}

.biography__hobbi
{
    margin: 43px auto 15px 0;
}

.hobbi
{
    color: #333;
    font: 400 36px/1.1 'Open Sans', sans-serif;
}

.link-box
{
    margin-top: 15px;
}

.link-shift
{
    margin-top: 40px;
    margin-left: 4px;
}
.link
{
    color: #15a98b;
    text-decoration: none;
    display: inline-block;
}

.link__text
{
    font: 19px/1.9 georgia;
}

.link__text__underline
{
    border-bottom: 1px solid #15a98b;
}

.link:hover
{
    color: #098d72;
}

.link__text__underline:hover
{
    border-color: #098d72;
}

.box-left {
    width: 360px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: left;
}

.image-woman
{
    border-radius: 5px;
}

.favorite-compartment
{
    margin-top: 40px;
    height: 500px;
}

.list__title
{
    color: #15a98b;
    font: 600 24px/1.3 'Open Sans', sans-serif
}

.title
{
    margin-bottom: 14px;
}
.writers-list__list
{
    margin-top: 6px;
    padding-left: 1px;
}

.writers-list__item
{
    color: #555;
    font: 19px/1.9 georgia;
    list-style-position: inside;
}

.movie-list
{
    margin-top: 41px;
}

.movie-list__list
{
    margin-top: -10px;
    padding: 0;
    margin-left: 2px;
}

.movie-list__item
{
    color: #555;
    font: 19px/1.9 georgia;
    list-style-position: inside;
}

.box-favorite-films {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    width: auto;
    clear: both;
}

.box-favorite-films__cards
{
    width: 1200px;

    margin-left: 6px;
    margin-top: 25px;
}

.box-favorite-films__title
{
    color: #333;
    font: 400 36px/1.2 "Open Sans"
}

.films
{
    display: flex;
    justify-content: space-between;

}

.films__card
{
    width: 285px; 
    margin-top: 2px;
}

.image
{
    width: 285px;
}

.films__card__title
{
    margin-top: 20px;
}

.films__card__title__text
{
    color: #333;
    font: 700 22px/1.5 "Open Sans"
}

.description
{
    color: #555;
    font: 16px/1.8 "Georgia";
    margin-top: -7px;
    margin-left: 2px;
}

.box-favorite-films__button
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.all-films
{
    margin-bottom: 70px;
    margin-left: -15px;
    border: 0;
    padding: 0;
    border-radius: 5px;
    background-color: #098d71;
}

.all-films__text
{
    width: 220px;
    height: 50px;
    color: #f5f5f5;
    font: 19px/1.7 "Georgia";
}

.all-films:hover
{
    background-color: #15a98c;
}

.box-form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 33px;
}

.box-form__title
{
    display: inline-flex;
    align-items: center;
}

.line
{
    display: inline-flex;
    width: 200px;
    height: 1px;
    background-color: rgb(5, 5, 5);
}

.title__form
{
    display: inline-flex;
    margin: 0 22px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.form
{
    margin-top: 69px;
    margin-left: 63px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.input,
.textarea,
.button-sent
{
    width: 500px;
    margin-top: 5px;
    padding: 0 20px;
    height: 46px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
}

.select
{
    width: 540px;
    margin-top: 4px;
    margin-bottom: 39px;
    padding: 0 20px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    appearance: none;
    background: url(../images/arrow_down.png) no-repeat 500px 15px;
}

.gender-box 
{
    margin-bottom: 37px;
}

.textarea
{
    resize: none;
    height: 150px;
}

.input,
.textarea
{
    margin-bottom: 25px;
}

.button-sent
{
    height: 52px;
    width: 220px;
    margin-top: 19px;
    border-radius: 5px;
    background-color: #15a98c;
}

.button-sent__text
{
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
}

.button-sent:hover
{
    width: 220px;
    height: 52px;
    border-radius: 5px;
    background-color: #098d71;
}

.input:hover,
.select:hover,
.textarea:hover
{
    border-radius: 3px;
    border: 2px solid #a6a6a6;
}

.input:focus,
.select:focus,
.textarea:focus
{
    outline: none;
    border-radius: 3px;
    border: 2px solid #15a98c;
}

.form__name,
.form__email,
.form__country,
.form__gender,
.form__massage
{
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.male,
.female 
{
    font-size: 18px;
    line-height: 32px;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans";
    margin-right: 30px;
}

.select__text
{
    font-size: 18px;
    line-height: 32px;
    color: #555;
    font-weight: 400;
    font-family: "Open Sans";
}

.requried::after
{
    color: red;
    content: " *";
}

.box-extra__continer 
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.box-extra {
    width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}



.box-footer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    width: auto;
    margin-top: 50px;
}

.box-footer__text {
    font-size: 16px;
    line-height: 32px;
    color: #555;
    font-family: "Georgia";
    margin-left: auto;
    margin-right: auto;
}